.related_news_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.related_news{
    width: 94%;
    height: auto;
}

.related_news_title {
    color:white;
    font-weight: 500;
}
.related_news_single_image{
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
}

.related_news_image_container{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
}

.related_news_image_size{
    width: 100%;
    height: 90%;
}

.realted_image_title{
    position: absolute;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
}
.realted_image_date{
    position: absolute;
    padding: 40px 40px 65px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
}

@media screen and (max-width: 768px) {
    .related_news_single_image{
        padding-bottom: 8%;
    }
    .related_news_image_container{
        flex-direction: column;
    }
    .realted_image_title{
        font-size: 18px;
        padding: 40px 40px 40px 20px;
    }
    .realted_image_date{
        padding: 40px 40px 60px 20px;
        font-size: 12px;
    }
}