nav {
  height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.nav-links li  {
  color:#545454;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none !important;
}

.nav-links li:hover{
  color: aliceblue;
}
@media screen and (max-width: 768px){
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: fixed;
    background-color: #212121;
    width: 100%;
    z-index: 2;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 3%;
    z-index: 3;
  }

  .nav-links {
    position: fixed;
    background: #212121;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: center;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1050px at 90% -10%);
    pointer-events: all;
    z-index: 2;
    padding: 0;
  }
  .nav-links li {
    opacity: 1;
    font-weight: 400;
    font-size: 24px;
    padding: 15px 0;
    color: white;
  }
  .nav-links li {
    font-size: 25px;
    
  }
  .nav-links .li_1 {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links .li_2 {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links .li_3 {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}